.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
   color: rgb(234, 91, 19);
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
}